 body{
  color: #1A2238;
  font-family: 'Sarabun', sans-serif;
}
.login-head {
  margin-top: 0;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #ddd;
  text-align: center;
}
.form-control1 {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1.875rem;
  line-height: 2;
  color: #495057;
  background-color: #FFF;
  background-clip: padding-box;
  border-right: 2px solid #ced4da;
  border: 2px solid #ced4da;
  border-radius: 4px;
  -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  -o-transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}
.add_bottom_15{
  padding-bottom: 15px;
}
.add_top_15{
  padding-top: 15px;
}

.add_magin_15{
  padding-top: 15px;
  padding-bottom: 15px;
}
.bg-dark1{
  background-color: #1A2238;/*151D30,0062b3*/
  border-bottom: solid 3px #F4DB7D;/*#007549*/
}
.header-wrapper{
  background-color: #1A2238;/*151D30,0062b3*/
  border-bottom: solid 3px #F4DB7D;/*#007549*/
}
.header-wrapper .header-middle {    
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header-wrapper .header-middle .logo {
  float: left;
  max-width: 400px;/*230*/
  width: 100%;
}

.bg-bma-green {
  background-color: #007F5F!important;/*#007549*/
}

.bg-gray {
  background: #086AD8;
}
/*.image-checkbox {
    cursor: pointer;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 4px solid transparent;
    margin-bottom: 0;
    outline: 0;
}
.image-checkbox input[type="checkbox"] {
    display: none;
}
.image-checkbox-checked {
    border-color: #4783B0;
}
.image-checkbox .fas {
  position: absolute;
  color: #4A79A3;
  background-color: #fff;
  padding: 10px;
  top: 0;
  right: 0;
}
.image-checkbox-checked .fas {
  display: block !important;
  }*/
  .hidden{ 
    display: none;
  }
  .fas {
    color: red !important;
  }
  .cnumber{
    color:#002EAD;
    font-weight:800;
    font-size:30px;
  }
  footer {
    padding: 25px 25px;
    color:#ffffff;
    background-color: #1A2238;/*#007549,#009B77,#f1f5f4*/
  }

  .p-l-r{
    padding-right: 150px;
    padding-left: 150px;
  }
  
 /*btn circle*/
  .btn-circle.btn-sm {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    font-size: 8px;
    text-align: center;
}
.btn-circle.btn-md {
    width: 50px;
    height: 50px;
    padding: 7px 10px;
    border-radius: 25px;
    font-size: 10px;
    text-align: center;
}
.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 12px;
    text-align: center;
}

.btn-circle.btn-xxl {
    /*width: 100px;
    height: 100px;
    padding: 10px 16px;
    border-radius: 50px;
    font-size: 12px;
    text-align: center;*/
    
    width: 120px;
    height: 120px;
    padding: 10px 16px;
    border-radius: 60px;
    font-size: 16px;
    text-align: center;
}
/*end btn circle*/