.site-nav {
     position: fixed;
     bottom: 0;
     left: 0;
     height: 70px;
     width: 100%;
     background-image: url('../img/nav.svg');
     background-repeat: no-repeat;
     background-position: center center;
     z-index: 900;
     filter: drop-shadow(0px -2px 4px rgba(0, 0, 0, 0.05));
     font-size: 15px;
}
 .site-nav ul {
     padding: 0;
     margin: 0;
     display: flex;
     width: 100%;
     justify-content: space-evenly;
}
 .site-nav li {
     list-style: none;
}
 .site-nav a {
     display: flex;
     flex-direction: column;
     line-height: 1em;
     color: #0f0;
}
 .site-nav a.active {
     color: #ffa800;
}
 .site-nav .new {
     position: absolute;
     width: 8px;
     height: 8px;
     background: linear-gradient(225deg, #ffa800 0%, #ff7a00 100%);
     border-radius: 50%;
     right: 20px;
     top: 15px;
}
 .site-nav svg {
     margin: 14px 0 -1px;
}
 .m-space, .m-user {
     display: none;
}
 .m-register a {
     background: linear-gradient(225deg, #00a0a9 0%, #006e96 100%);
     box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
     display: inline-flex;
     width: 74px;
     height: 74px;
     border-radius: 50%;
     color: #fff;
     margin-top: -10px;
}
 .m-register a.active {
     color: #fff;
}
 .m-register a svg {
     margin: 10px 0 -2px;
}
 