html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: 'Niramit', sans-serif;
  padding-top: 1rem;
  margin-bottom: 60px;
}

/*.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}*/

/*footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}*/

.small{
  font-size: 60%;
}

footer {
  position: absolute;
  bottom: 0;
  padding-top: 10px;
  padding-bottom:10px ;
  font-size: 15px;
  color: #512D6D;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
 /* line-height: 60px;*/ /* Vertically center the text there C8B6E2 */
  background-color: #f9f9f9;
}

footer p {
  margin-bottom: .25rem;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}
.bg-custom{
  /*background-color: #343a40!important;*/
  background-color: #0f61a9;/*#062263,563d7c,4C3575*/

}
.bg-custom-white{
  /*background-color: #343a40!important;*/
  background-color: #fff;/*#062263,563d7c,4C3575*/

}
.nav-link {color: #ffffff;}
.nav-link:hover {color: #007bff;}
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(135,206,250, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
  border-color: rgb(135,206,250);
}

.c_number{
  color: blue ;
  font-size: 50px;
  font-weight: 700;
}

@media only screen and (max-width: 600px) {
  .rw-padd{
    padding-right: 15px;
    padding-left: 15px;
  }
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .rw-padd{
    padding-left:100px;
    padding-right: 100px;
  }
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .rw-padd{
    padding-left:100px;
    padding-right: 100px;
  }
}

@media only screen and (min-width: 992px) {
 .rw-padd{
  padding-left:200px;
  padding-right: 200px;
}
}
